.Element{
    display:flex;
    
}

.Element-pics{
width:200px;
height:300px;
border-radius:5px;
margin-right:10px
}
.Element-info{
    text-align:left;
    padding:10px 20px;
}
.Element-date{
font-weight: bold;
}
.Element-content{
color:rgb(68, 68, 68)
}
.Element-localization{
    display:flex;
    align-items: center;
    gap:10px;
}
.Element-localization-img{
    width:15px;
    height:20px;
}
.Element-localization-header{
    font-weight: bold;
}
.Element-localization-url{
    color: rgb(160, 149, 149);
}