.Logo{
    padding: 20px 35px;
    width:100px;
    text-align: left;
    
}
.Logo-place{
    text-align: left;
    box-shadow:0px 5px 18px 0px #b8b0b0;
    position:sticky;
    top:0;
    background-color: white;
}